<section
  class="distortions grid"
  [class.hidden]="!gridLayout() && !animating()"
  [@slideInLeft]="gridLayout()"
  [@slideOutRight]="rowsLayout()"
  [@fadeOut]="rowsLayout()"
  [@fadeIn]="gridLayout()">
  @for (distortion of distortions(); track distortion.title; let idx = $index) {
    <distorion-thumb [distortion]="distortion" [index]="idx"/>
  }
</section>

<section
  class="distortions rows"
  [class.hidden]="!rowsLayout() && !animating()"
  [@slideInLeft]="rowsLayout()"
  [@slideOutRight]="gridLayout()"
  [@fadeOut]="gridLayout()"
  [@fadeIn]="rowsLayout()">
  @for (distortion of distortions(); track distortion.title; let idx = $index) {
    <distorion-thumb [distortion]="distortion" [index]="idx"/>
  }
</section>