:host {
  padding: 3px;
  height: calc(100% - 6px);
  overflow: auto;
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  &.grid {
    grid-template-columns: repeat(2, 1fr);
  }

  &.rows {
    grid-template-columns: repeat(1, 1fr);
  }
}
