<h2>Випадки:</h2>

@for (caseDateGroup of casesByDate(); track $index) {
  <mat-accordion displayMode="flat">
    @for (item of caseDateGroup; track $index) {
      <mat-expansion-panel togglePosition="before">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.date | date : 'EEE, MMM d, hh:mm' }}
          </mat-panel-title>
        </mat-expansion-panel-header>

          <div class="steb-item">
            <h4>Cитуація:</h4>
            <p>{{ item.details.situation || '--' }}</p>
          </div>

          <div class="steb-item">
            <h4>Думки:</h4>
            <p>{{ item.details.thoughts || '--' }}</p>
          </div>

          <div class="steb-item">
            <h4>Емоції:</h4>
            <p>{{ item.details.emotions || '--' }}</p>
          </div>

          <div class="steb-item">
            <h4>Поведінка:</h4>
            <p>{{ item.details.behaviour || '--' }}</p>
          </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
}