@for (caseDateGroup of casesByDate(); track $index) {
  <mat-accordion displayMode="flat">
    @for (item of caseDateGroup; track $index) {
      <mat-expansion-panel togglePosition="before">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              {{ item.dateTime | date : 'EEE, MMM d, HH:mm' }}
            </div>

            @if (item.details.situation) {
              <div class="short-situation">
                {{ item.details.situation }}
              </div>
            }
          </mat-panel-title>
          
          <button
            class="delete-case"
            mat-icon-button
            matTooltip="Видалити запис"
            (click)="onCaseDelete($event, item)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-expansion-panel-header>

        <section>
          <div class="steb-item">
            <h4>Cитуація:</h4>
            <p>{{ item.details.situation || '--' }}</p>
          </div>
  
          <div class="steb-item">
            <h4>Думки:</h4>
            <p>{{ item.details.thoughts || '--' }}</p>
            
            @if (item.details.distortions.length) {
              <section class="distorions-section">
                <button
                  mat-button
                  [matBadge]="item.details.distortions.length"
                  matBadgeSize="large"
                  (click)="distortionsVisible = !distortionsVisible">
                  Когнітивні викривлення
                </button>

                @if (distortionsVisible) {
                  <mat-chip-set [@fadeInOnEnter] [@fadeOutOnLeave]>
                    @for (distortion of item.details.distortions; track $index) {
                      <mat-chip>
                        {{ distortion }}
                      </mat-chip>
                    }
                  </mat-chip-set>
                }
              </section>
            }
          </div>
  
          <div class="steb-item">
            <h4>Емоції:</h4>
            <p>{{ item.details.emotions || '--' }}</p>
          </div>
  
          <div class="steb-item">
            <h4>Поведінка:</h4>
            <p>{{ item.details.behaviour || '--' }}</p>
          </div>
        </section>
      </mat-expansion-panel>
    }
  </mat-accordion>
}