:host {
  display: block;

  .steb-form-container:not(.ng-animating) {
    max-height: initial !important;
  }

  mat-nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    a[mat-list-item] {
      &.primary {
        background: var(--mat-sys-primary);
  
        span {
          color: var(--mat-sys-on-primary);
        }
      }
  
      span {
        color: var(--mat-sys-primary);
    
        &[matLine] {
          color: var(--mat-sys-secondary);
        }
      }
    }
  }
}