
@if (formVisible()) {
  <div [@expandOnEnter] [@collapseOnLeave]>
    <steb-form
      [backVisible]="true"
      (save)="onCreateCase($event)"
      (cancel)="onCancel()"/>
  </div>
} @else {
  <mat-nav-list
    [@expandOnEnter]="{ value: '', params: { duration: 250 } }"
    [@.disabled]="firstTime()">
    <a mat-list-item class="primary" (click)="onLog()">
      <span matListItemTitle>Записати випадок</span>
    </a>
  
    <a mat-list-item (click)="onNothing()">
      <span matListItemTitle>Blank</span>
      <span matLine>Does nothing?</span>
    </a>
  </mat-nav-list>  
}
