<header>STEB analysis:</header>

<p [class.expanded]="descriptionExpanded()" (click)="toggleDescription()">
  Ситуація/Думки/Емоції/Поведінка — це техніка дослідження ситуації, винайдена засновником КПТ Аароном Беком. Вона випливає з базового принципу,
що у будь-якій ситуації є 4 компоненти і для повного розуміння себе, потрібно усвідомлювати кожну площину.
</p>

<mat-divider></mat-divider>

<button mat-flat-button (click)="onLog()">
  <mat-icon>add</mat-icon>
  Записати випадок
</button>

<steb-view [relevantCases]="cases()"/>