::ng-deep .tooltip-xl .mat-mdc-tooltip-surface {
  max-width: 66vw;
}

:host {
  display: block;
  padding: 0.5rem 0;

  h2 {
    margin: 0 0 1.5rem;

    font: var(--mat-sys-headline-medium);

    .title-container {
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      .title {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }

      > mat-icon {
        color: var(--mat-sys-on-surface-variant);
        margin-right: 0.75rem;
      }
    }
  }

  .add-distorion-wrapper {
    margin-bottom: 1rem;
  }

  mat-form-field {
    width: 100%;
  }

  .distortions {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;

    span {
      font-size: var(--mat-sys-body-large-size);
    }
  }

  .date-time {
    display: flex;
    gap: 0.5rem;
  }

  .actions {
    display: flex;
    justify-content: center;
    padding-top: 0.25rem;
  }
}

::ng-deep .tp {
  .timepicker-header {
    background: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }

  .clock-face__clock-hand, .clock-face__center {
    background: var(--mat-sys-primary);
  }

  .clock-face__clock-hand button {
    background: var(--mat-sys-primary);
    border-radius: 50%;
  }

  .clock-face__number button {
    border-radius: 50%;

    &.mat-primary {
      background: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }
  }
}
