::ng-deep .tooltip-xl .mat-mdc-tooltip-surface {
  max-width: 66vw;
}

:host {
  display: block;
  padding: 0.5rem 0;

  section.distortions {
    padding-top: 1rem;
    margin-top: -1rem;
    margin-bottom: var(--mat-sys-body-medium-line-height);

    mat-accordion {
      display: block;
  
      mat-expansion-panel {
        box-shadow: none;
        border: 1px solid var(--mat-sys-outline);
        background: var(--mat-sys-surface-container-low);
        border-radius: 4px;
  
        mat-expansion-panel-header {
          padding: 0 12px;
  
          mat-panel-title {
            color: var(--mat-sys-on-surface-variant);
          }
  
          mat-panel-description {
            flex-grow: 0;
            margin: 0;
          }
        }
      }
    }
  }

  h2 {
    margin: 0 0 1.5rem;

    font: var(--mat-sys-headline-medium);

    .title-container {
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      .title {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }

      > mat-icon {
        color: var(--mat-sys-on-surface-variant);
        margin-right: 0.75rem;
      }
    }
  }

  .add-distorion-wrapper {
    margin-bottom: 1rem;
  }

  mat-form-field {
    width: 100%;
  }

  .date-time {
    display: flex;
    gap: 0.5rem;
  }

  .actions {
    display: flex;
    justify-content: center;
    padding-top: 0.25rem;
  }
}

::ng-deep .tp {
  .timepicker-header {
    background: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }

  .clock-face__clock-hand, .clock-face__center {
    background: var(--mat-sys-primary);
  }

  .clock-face__clock-hand button {
    background: var(--mat-sys-primary);
    border-radius: 50%;
  }

  .clock-face__number button {
    border-radius: 50%;

    &.mat-primary {
      background: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }
  }
}
