<h2>
  <span class="title-container">
    <span class="title">
      @if (backVisible()) {
        <button mat-icon-button (click)="cancel.emit()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      }
      STEB
    </span>
  
    <mat-icon
      [matTooltip]="TOOLTIPS.STEB"
      matTooltipClass="tooltip-xl">
      help_outlined
    </mat-icon>
  </span>
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section>
      <section formGroupName="details">
        <mat-form-field>
          <mat-label>Ситуація</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            placeholder="Тяжко жити"
            formControlName="situation"></textarea>
          <mat-icon
            matSuffix
            [matTooltip]="TOOLTIPS.situation"
            matTooltipClass="tooltip-xl">
            help_outlined
          </mat-icon>
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Думки</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            placeholder="Шкода вмерти"
            formControlName="thoughts"></textarea>
          <mat-icon
            matSuffix
            [matTooltip]="TOOLTIPS.thoughts"
            matTooltipClass="tooltip-xl">
            help_outlined
          </mat-icon>
        </mat-form-field>

        @if (distortions().length) {
          <section #distorionPanelContainer class="distortions">
            <mat-accordion togglePosition="before">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>
                      Когнітивні викривлення: {{ distortionCounter() }}
                    </span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <mat-icon
                      [matTooltip]="TOOLTIPS.distortions"
                      matTooltipClass="tooltip-xl">
                      help_outlined
                    </mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
    
                <mat-chip-listbox multiple>
                  @for (distortion of distortions(); track $index) {
                    <mat-chip-option
                      [value]="distortion.value"
                      [selected]="distortion.selected"
                      [disabled]="!addDistortionMode()"
                      (selectionChange)="onAddDistortion($event)">
                      {{ distortion.value }}
                    </mat-chip-option>
                  }
                </mat-chip-listbox>
              </mat-expansion-panel>
            </mat-accordion>
          </section>
        }

        @if (!addDistortionMode()) {
          <div class="add-distorion-wrapper">
            <button
              type="button"
              mat-stroked-button
              (click)="onAddDistortionsMode()">
              Вказати викривлення
            </button>
          </div>
        }
      
        <mat-form-field>
          <mat-label>Емоції</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            placeholder="Ехх..."
            formControlName="emotions"></textarea>
          <mat-icon
            matSuffix
            [matTooltip]="TOOLTIPS.emotions"
            matTooltipClass="tooltip-xl">
            help_outlined
          </mat-icon>
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Поведінка</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            placeholder="Піду втоплюся у річці глибокій"
            formControlName="behaviour"></textarea>
          <mat-icon
            matSuffix
            [matTooltip]="TOOLTIPS.behavior"
            matTooltipClass="tooltip-xl">
            help_outlined
          </mat-icon>
        </mat-form-field>
      </section>

      <section class="date-time">
        <mat-form-field>
          <mat-label>Дата</mat-label>
          <input
            matInput
            readonly
            formControlName="date"
            [matDatepicker]="datepicker"
            (click)="datepicker.open()">
          <mat-datepicker touchUi #datepicker/>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"/>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Час</mat-label>
          <input 
            matInput
            readonly
            formControlName="time"
            [ngxMatTimepicker]="timepicker"
            [format]="24"/>
          <mat-icon matSuffix (click)="timepicker.open()">
            watch_later
          </mat-icon>

          <ngx-mat-timepicker
            #timepicker
            [cancelBtnTmpl]="tpCancelBtn"
            timepickerClass="tp"/>

          <ng-template #tpCancelBtn>
            <button mat-button>Скасувати</button>
          </ng-template>
        </mat-form-field>
      </section>
  </section>

  <section class="actions">
    <button mat-flat-button type="submit">Зберегти</button>
  </section>
</form>
