<h2 mat-dialog-title>СДЕП</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
      <section formGroupName="details">
        <mat-form-field>
          <mat-label>Ситуація</mat-label>
          <textarea matInput cdkTextareaAutosize placeholder="Тяжко жити" formControlName="situation"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Думки</mat-label>
          <textarea matInput cdkTextareaAutosize placeholder="Шкода вмерти" formControlName="thoughts"></textarea>
        </mat-form-field>

        <div class="distortions">
          <span>Когнітивні викривлення:</span>

          <mat-chip-set>
            @for (distortion of distortions(); track $index) {
              <mat-chip>{{ distortion }}</mat-chip>
            }
          </mat-chip-set>
        </div>

        <!-- <mat-form-field>
          <mat-label>Викривлення</mat-label>
          <mat-chip-grid #chipGrid [formControl]="distortionsControl">
            @for (distortion of distortions(); track $index) {
              <mat-chip-row>
                {{ distortion }}
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="autoGroup"
          />
          <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onDistortionAdd($event)">
            @for (category of categories(); track category.title) {
              <mat-optgroup [label]="category.title">
                @for (distortion of category.distortions; track distortion) {
                  <mat-option [value]="distortion">
                    {{ distortion.title }}
                  </mat-option>
                }
              </mat-optgroup>
            }
          </mat-autocomplete>
        </mat-form-field> -->
      
        <mat-form-field>
          <mat-label>Емоції</mat-label>
          <textarea matInput cdkTextareaAutosize placeholder=":(" formControlName="emotions"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Поведінка</mat-label>
          <textarea matInput cdkTextareaAutosize placeholder="Піду втоплюся у річці глибокій" formControlName="behaviour"></textarea>
        </mat-form-field>
      </section>

      <section class="date-time">
        <mat-form-field>
          <mat-label>Дата</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker touchUi #picker/>
          <mat-datepicker-toggle matIconSuffix [for]="picker"/>
        </mat-form-field>
        
        <mat-form-field>
          <input 
            matInput
            formControlName="date"
            [ngxMatTimepicker]="pickerB"
            [format]="24"
            placeholder="16:00"
            readonly />
          <mat-icon matSuffix (click)="pickerB.open()">
            watch_later
          </mat-icon>
        </mat-form-field>

        <ngx-mat-timepicker color="accent" #pickerB/>
      </section>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="submit">Зберегти</button>
  </mat-dialog-actions>
</form>
