:host {
  display: block;

  h2 {
    padding-top: 0;
  }

  mat-form-field {
    width: 100%;
  }

  .distortions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .date-time {
    display: flex;
    gap: 0.5rem;
  }
}

::ng-deep .tp {
  .timepicker-header {
    background: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }

  .clock-face__clock-hand, .clock-face__center {
    background: var(--mat-sys-primary);
  }

  .clock-face__clock-hand button {
    background: var(--mat-sys-primary);
    border-radius: 50%;
  }

  .clock-face__number button {
    border-radius: 50%;

    &.mat-primary {
      background: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }
  }
}
