<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title() }}</mat-card-title>
    <mat-card-subtitle>{{ details() }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>{{ example() }}</mat-card-content>

  <mat-card-actions align="end">
    <button mat-flat-button (click)="onLog()">
      <mat-icon>add</mat-icon>
      Записати випадок
    </button>
  </mat-card-actions>
   
  <footer>
    <small>{{ category() }}</small>
  </footer>
</mat-card>

@if (relevantCases().length) {
  <steb-view [relevantCases]="relevantCases()"/>
}