:host {
  display: block;
  padding: 0 1rem;

  mat-card {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 1rem;
    margin-bottom: 1.5rem;
  }

  footer {
    text-align: right;
    padding: 0.5rem;
  }
}
