/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-lg {
  font-size: 2rem !important;

  [matsnackbarlabel] {
    font-size: 1.5rem !important;
  }
}

.no-select {
  user-select: none;
}

.smooth-scroll-panel mat-bottom-sheet-container {
  scroll-behavior: smooth;
}

