<mat-toolbar>
  <button mat-icon-button (click)="goBack()" [style.opacity]="backButtonVisible()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-button-toggle-group
    [style.opacity]="layoutControlVisible()"
    [hideSingleSelectionIndicator]="true"
    [formControl]="layoutControl">
    <mat-button-toggle [value]="LAYOUT_OPTIONS.Grid">
      <mat-icon>grid_view</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle [value]="LAYOUT_OPTIONS.Rows">
      <mat-icon>splitscreen</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button
    mat-icon-button
    [matTooltip]="navigationButton().tooltip"
    (click)="navigate()">
    <mat-icon>{{ navigationButton().icon }}</mat-icon>
  </button>
</mat-toolbar>