@use '@angular/material' as mat;

:host {
  display: inline-block;
  padding: 0 1rem;
  min-width: 0;

  &:host-context(.grid):nth-child(odd) {
    padding-right: 0;
  }

  mat-card {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    mat-card-header {
      @media (min-width:600px) {
        ::ng-deep {
          .mat-mdc-card-header-text {
            width: 100%;
          }
        }
      }

      mat-card-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        button[mat-icon-button] {
          color: var(--mat-sys-secondary);
        }
      }
    }

    &.extended {
      row-gap: 0.5rem;
    }

    &:not(.extended) mat-card-content {
      display: flex;
      justify-content: space-between;

      .distortion-title {
        padding-right: 0.5rem;
        overflow-x: hidden;
        overflow-wrap: break-word;
        hyphens: manual;
      }
      
      .menu-button {
        margin: -0.75rem -0.75rem 0;
      }
    }
  }

  footer {
    text-align: right;
    padding: 0.5rem;
  }

  @include mat.badge-overrides((
    background-color: var(--mat-sys-secondary),
    text-color: var(--mat-sys-on-secondary),
  ));
}
