<mat-card
  [matBadge]="caseCount()"
  [matBadgeHidden]="!caseCount()"
  matBadgeSize="large"
  matBadgePosition="below before"
  appearance="raised"
  [class.extended]="extendedView()">
  @if (extendedView()) {
    <mat-card-header>
      <mat-card-title>
        <span class="distortion-title" [innerHTML]="title()">
          {{ title() }}
        </span>

        <button mat-icon-button (click)="openMenu($event)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>{{ details() }}</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>{{ example() }}</mat-card-content>
  } @else {
    <mat-card-content>
      <span class="distortion-title" [innerHTML]="title()"></span>

      <button mat-icon-button class="menu-button" (click)="openMenu($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-content>
  }
   
  <footer>
    <small>{{ category() }}</small>
  </footer>
</mat-card>